nodered/client_flows.json
[
    {
        "id": "891c5f8fa7412032",
        "type": "tab",
        "label": "SingleGraph",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b70ea5f594178d87",
        "type": "tab",
        "label": "MultipleGraph",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "77c4469fc43c7a72",
        "type": "tab",
        "label": "OpenWeather",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c64826d62fe66465",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "notificationDisplayTime": 5
    },
    {
        "id": "8c43a0819a447924",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px",
            "density": "default"
        }
    },
    {
        "id": "1c972b1c1ea9e3e0",
        "type": "mongodb4-client",
        "name": "POLVERINE_OSIRIS",
        "protocol": "mongodb",
        "hostname": "192.168.1.128",
        "port": "",
        "dbName": "Polverine",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "e646704a27e5a0ab",
        "type": "ui-page",
        "name": "SingleSensor",
        "ui": "c64826d62fe66465",
        "path": "/singlesensor",
        "icon": "dashboard",
        "layout": "flex",
        "theme": "8c43a0819a447924",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "07da1a9c773b162c",
        "type": "ui-group",
        "name": "SENSOR",
        "page": "e646704a27e5a0ab",
        "width": "24",
        "height": "1",
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "a6eb36a431408f0e",
        "type": "ui-group",
        "name": "TimeButtons",
        "page": "e646704a27e5a0ab",
        "width": "24",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1a0a1b9053c86dba",
        "type": "ui-page",
        "name": "MultiSensor",
        "ui": "c64826d62fe66465",
        "path": "/multisensor",
        "icon": "dashboard",
        "layout": "flex",
        "theme": "8c43a0819a447924",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b158ecdde7717ae9",
        "type": "ui-group",
        "name": "TimeButtons",
        "page": "1a0a1b9053c86dba",
        "width": "24",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ee07921ccfa70b25",
        "type": "ui-group",
        "name": "SENSORS",
        "page": "1a0a1b9053c86dba",
        "width": "24",
        "height": "1",
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "8c69d9d290a17531",
        "type": "ui-page",
        "name": "OpenWeather",
        "ui": "c64826d62fe66465",
        "path": "/openweather",
        "icon": "home",
        "layout": "flex",
        "theme": "8c43a0819a447924",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "be8a03be217c2922",
        "type": "ui-group",
        "name": "TimeButtons",
        "page": "8c69d9d290a17531",
        "width": "24",
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4a049d5eac4a28a9",
        "type": "ui-group",
        "name": "SENSORS",
        "page": "8c69d9d290a17531",
        "width": "24",
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "9ce2e0a007538b6b",
        "type": "mongodb4",
        "z": "891c5f8fa7412032",
        "clientNode": "1c972b1c1ea9e3e0",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "",
        "x": 530,
        "y": 840,
        "wires": [
            [
                "cc8c6b3693aee2d5",
                "854f381f091ac08f"
            ]
        ]
    },
    {
        "id": "674094d9eeb2561b",
        "type": "inject",
        "z": "891c5f8fa7412032",
        "name": "find",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "collection",
                "v": "DataEnvironment",
                "vt": "str"
            },
            {
                "p": "operation",
                "v": "find",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "60",
        "topic": "",
        "payload": "[{\"data.ID\":\"55333C\"}]",
        "payloadType": "json",
        "x": 90,
        "y": 880,
        "wires": [
            [
                "9ce2e0a007538b6b"
            ]
        ]
    },
    {
        "id": "cc8c6b3693aee2d5",
        "type": "function",
        "z": "891c5f8fa7412032",
        "name": "Bosch",
        "func": "var data1 = [];\nvar data2 = [];\nvar data3 = [];\nvar data4 = [];\n\nfor(i = 0; i < msg.payload.length;i++)\n{\n    var element = msg.payload[i];\n    var timestamp = element.timestamp;\n\n    data1.push({\"x\":timestamp,\"y\":element.data.T});\n    data2.push({\"x\":timestamp,\"y\":element.data.H}); \n    data3.push({\"x\":timestamp,\"y\":element.data.P/100}); // Pa to mbar\n    data4.push({\"x\":timestamp,\"y\":element.data.VOC});\n}\n\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\n\nmsg1.payload = data1;\nmsg2.payload = data2;\nmsg3.payload = data3;\nmsg4.payload = data4;\n\nreturn [msg1,msg2,msg3,msg4];",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 700,
        "wires": [
            [
                "3d1ba592de5f1411",
                "890160fa68ec5af8"
            ],
            [
                "cea203a37882d3e3"
            ],
            [
                "a110f7f6baf5730e"
            ],
            [
                "348e5eda531490c9"
            ]
        ]
    },
    {
        "id": "272338aed21fb700",
        "type": "ui-text-input",
        "z": "891c5f8fa7412032",
        "group": "a6eb36a431408f0e",
        "name": "",
        "label": "From :",
        "order": 6,
        "width": 7,
        "height": 1,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": false,
        "className": "",
        "x": 600,
        "y": 480,
        "wires": [
            [
                "25acc354d786a0c5"
            ]
        ]
    },
    {
        "id": "5f14a28fdb9b477c",
        "type": "ui-text-input",
        "z": "891c5f8fa7412032",
        "group": "a6eb36a431408f0e",
        "name": "",
        "label": "To :",
        "order": 7,
        "width": 7,
        "height": 1,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": false,
        "className": "",
        "x": 600,
        "y": 520,
        "wires": [
            [
                "1f7018f7985ae7f9"
            ]
        ]
    },
    {
        "id": "51bf18f60526017a",
        "type": "ui-button",
        "z": "891c5f8fa7412032",
        "group": "a6eb36a431408f0e",
        "name": "",
        "label": "REFRESH",
        "order": 10,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 840,
        "wires": [
            [
                "6836b46b76f71532",
                "0dca240b430394c9"
            ]
        ]
    },
    {
        "id": "230cac1f7144e3eb",
        "type": "moment",
        "z": "891c5f8fa7412032",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "5",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 420,
        "y": 480,
        "wires": [
            [
                "272338aed21fb700"
            ]
        ]
    },
    {
        "id": "a143820e7284e947",
        "type": "inject",
        "z": "891c5f8fa7412032",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "230cac1f7144e3eb",
                "5c1dba349c480641",
                "7557af58676a87eb"
            ]
        ]
    },
    {
        "id": "5c1dba349c480641",
        "type": "moment",
        "z": "891c5f8fa7412032",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "1",
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 420,
        "y": 520,
        "wires": [
            [
                "5f14a28fdb9b477c"
            ]
        ]
    },
    {
        "id": "25acc354d786a0c5",
        "type": "change",
        "z": "891c5f8fa7412032",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tsFrom",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "1f7018f7985ae7f9",
        "type": "change",
        "z": "891c5f8fa7412032",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tsTo",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "6836b46b76f71532",
        "type": "function",
        "z": "891c5f8fa7412032",
        "name": "",
        "func": "//msg.payload = [{\"sensor_id\":global.get(\"sensorMapping\")[flow.get(\"room_id\")].sensor_id[flow.get(\"sensor_id\")].id,\"timereceived\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}},{\"sort\":{\"timereceived\":1}}];\n//msg.payload = [{\"sensor_id\":flow.get(\"sensor_id\"),\"timestamp\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}}];\n//msg.payload = [{\"sensor_id\":{$in: flow.get(\"sensor_id\")},\"timestamp\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}}];\nmsg.payload = [{\"data.ID\":flow.get(\"selectedDevice\"),\"timestamp\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}},{\"sort\":{\"timereceived\":1}}];\nmsg.collection = \"DataEnvironment\";\nmsg.operation = \"find\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 335,
        "y": 839,
        "wires": [
            [
                "9ce2e0a007538b6b",
                "9093d185316d0e48"
            ]
        ]
    },
    {
        "id": "8c9b4d01e2557e92",
        "type": "mongodb4",
        "z": "891c5f8fa7412032",
        "clientNode": "1c972b1c1ea9e3e0",
        "collection": "Devices",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "",
        "x": 405,
        "y": 579,
        "wires": [
            [
                "21e03af6e32f4c01",
                "2f56bfa1bc5244ec",
                "3ed56b791f84a6d3"
            ]
        ]
    },
    {
        "id": "7557af58676a87eb",
        "type": "change",
        "z": "891c5f8fa7412032",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{},{\"sort\":{\"data.Order\":1}}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 235,
        "y": 579,
        "wires": [
            [
                "8c9b4d01e2557e92"
            ]
        ]
    },
    {
        "id": "21e03af6e32f4c01",
        "type": "change",
        "z": "891c5f8fa7412032",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sensorMapping",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "2f56bfa1bc5244ec",
        "type": "function",
        "z": "891c5f8fa7412032",
        "name": "",
        "func": "var msg1 = [];\n\nfor(i = 0; i< msg.payload.length; i++)\n{\n    var el = msg.payload[i];\n    var aLabel = String(el.data.ID);\n    var aValue = String(el.data.ID);\n    var aDescription = String(el.data.Description);\n    var aItem = JSON.parse([\"{\\\"label\\\":\\\"\",aDescription,\" @\",aLabel,\"\\\",\\\"value\\\":\\\"\",aValue,\"\\\"}\"].join(\"\"));\n\n    \n    msg1.push(aItem);\n}\n\nvar msg2 = {};\n\nmsg2.ui_update = {\"options\" : msg1};\n\nreturn msg2;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 580,
        "wires": [
            [
                "932e45be328a68a6",
                "7f6ec80789e03d6b"
            ]
        ]
    },
    {
        "id": "aaeabadb8d5e9bc4",
        "type": "ui-button",
        "z": "891c5f8fa7412032",
        "group": "a6eb36a431408f0e",
        "name": "",
        "label": "CLEAN",
        "order": 9,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 705,
        "y": 619,
        "wires": [
            [
                "3d1ba592de5f1411",
                "cea203a37882d3e3",
                "a110f7f6baf5730e",
                "348e5eda531490c9",
                "dad18e5b3eb821c2"
            ]
        ]
    },
    {
        "id": "9093d185316d0e48",
        "type": "debug",
        "z": "891c5f8fa7412032",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 495,
        "y": 899,
        "wires": []
    },
    {
        "id": "932e45be328a68a6",
        "type": "ui-dropdown",
        "z": "891c5f8fa7412032",
        "group": "a6eb36a431408f0e",
        "name": "Sensor",
        "label": "Sensor",
        "tooltip": "",
        "order": 8,
        "width": "20",
        "height": 1,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 975,
        "y": 379,
        "wires": [
            [
                "3e55e9b6362852bc",
                "b81bd8991baadbaa"
            ]
        ]
    },
    {
        "id": "3e55e9b6362852bc",
        "type": "change",
        "z": "891c5f8fa7412032",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selectedDevice",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1205,
        "y": 379,
        "wires": [
            []
        ]
    },
    {
        "id": "b81bd8991baadbaa",
        "type": "debug",
        "z": "891c5f8fa7412032",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1135,
        "y": 459,
        "wires": []
    },
    {
        "id": "854f381f091ac08f",
        "type": "debug",
        "z": "891c5f8fa7412032",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 735,
        "y": 839,
        "wires": []
    },
    {
        "id": "2f777c4a2915069f",
        "type": "mongodb4",
        "z": "891c5f8fa7412032",
        "clientNode": "1c972b1c1ea9e3e0",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "",
        "x": 505,
        "y": 979,
        "wires": [
            [
                "2a3a2cf174b58ae5",
                "15ef0aa856538296"
            ]
        ]
    },
    {
        "id": "0dca240b430394c9",
        "type": "function",
        "z": "891c5f8fa7412032",
        "name": "",
        "func": "//msg.payload = [{\"sensor_id\":global.get(\"sensorMapping\")[flow.get(\"room_id\")].sensor_id[flow.get(\"sensor_id\")].id,\"timereceived\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}},{\"sort\":{\"timereceived\":1}}];\n//msg.payload = [{\"sensor_id\":flow.get(\"sensor_id\"),\"timestamp\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}}];\n//msg.payload = [{\"sensor_id\":{$in: flow.get(\"sensor_id\")},\"timestamp\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}}];\nmsg.payload = [{\"data.ID\":flow.get(\"selectedDevice\"),\"timestamp\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}},{\"sort\":{\"timereceived\":1}}];\nmsg.collection = \"DataParticulate\";\nmsg.operation = \"find\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 335,
        "y": 979,
        "wires": [
            [
                "2f777c4a2915069f",
                "2e4529131bdb281a"
            ]
        ]
    },
    {
        "id": "15ef0aa856538296",
        "type": "debug",
        "z": "891c5f8fa7412032",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 695,
        "y": 979,
        "wires": []
    },
    {
        "id": "2a3a2cf174b58ae5",
        "type": "function",
        "z": "891c5f8fa7412032",
        "name": "Particulate",
        "func": "var data1 = [];\n\nfor(i = 0; i < msg.payload.length;i++)\n{\n    var element = msg.payload[i];\n    var timestamp = element.timestamp;\n\n    data1.push({\"series\":\"PM 10\",\"x\":timestamp,\"y\":element.data.PM10});\n    data1.push({\"series\":\"PM 2.5\",\"x\":timestamp,\"y\":element.data.PM25});\n    data1.push({\"series\":\"PM 1\",\"x\":timestamp,\"y\":element.data.PM1});\n}\n\nvar msg1 = {};\n\nmsg1.payload = data1;\n\nreturn msg1;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 725,
        "y": 1039,
        "wires": [
            [
                "dad18e5b3eb821c2",
                "5a4aa93c6504a764"
            ]
        ]
    },
    {
        "id": "3ed56b791f84a6d3",
        "type": "debug",
        "z": "891c5f8fa7412032",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 555,
        "y": 659,
        "wires": []
    },
    {
        "id": "251c55fbecea51c8",
        "type": "ui-button",
        "z": "891c5f8fa7412032",
        "group": "a6eb36a431408f0e",
        "name": "",
        "label": "1 Day",
        "order": 1,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "2460bc6c4883e779",
                "5c1dba349c480641"
            ]
        ]
    },
    {
        "id": "5905f12c1d95b65c",
        "type": "ui-button",
        "z": "891c5f8fa7412032",
        "group": "a6eb36a431408f0e",
        "name": "",
        "label": "2 Days",
        "order": 2,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "c44b9922feaff622",
                "5c1dba349c480641"
            ]
        ]
    },
    {
        "id": "71156a7373bb45a5",
        "type": "ui-button",
        "z": "891c5f8fa7412032",
        "group": "a6eb36a431408f0e",
        "name": "",
        "label": "5 Days",
        "order": 3,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "e1a80bef1626897a",
                "5c1dba349c480641"
            ]
        ]
    },
    {
        "id": "f00a420b54e318bf",
        "type": "ui-button",
        "z": "891c5f8fa7412032",
        "group": "a6eb36a431408f0e",
        "name": "",
        "label": "10 Days",
        "order": 4,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 320,
        "wires": [
            [
                "723bd28b0f078c19",
                "5c1dba349c480641"
            ]
        ]
    },
    {
        "id": "049d53e9b31c0412",
        "type": "ui-button",
        "z": "891c5f8fa7412032",
        "group": "a6eb36a431408f0e",
        "name": "",
        "label": "100 Days",
        "order": 5,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 400,
        "wires": [
            [
                "9b773d78e566f5ac",
                "5c1dba349c480641"
            ]
        ]
    },
    {
        "id": "2460bc6c4883e779",
        "type": "moment",
        "z": "891c5f8fa7412032",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "1",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 380,
        "y": 80,
        "wires": [
            [
                "272338aed21fb700"
            ]
        ]
    },
    {
        "id": "c44b9922feaff622",
        "type": "moment",
        "z": "891c5f8fa7412032",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "2",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "272338aed21fb700"
            ]
        ]
    },
    {
        "id": "e1a80bef1626897a",
        "type": "moment",
        "z": "891c5f8fa7412032",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "5",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 380,
        "y": 240,
        "wires": [
            [
                "272338aed21fb700"
            ]
        ]
    },
    {
        "id": "723bd28b0f078c19",
        "type": "moment",
        "z": "891c5f8fa7412032",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "10",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 380,
        "y": 320,
        "wires": [
            [
                "272338aed21fb700"
            ]
        ]
    },
    {
        "id": "9b773d78e566f5ac",
        "type": "moment",
        "z": "891c5f8fa7412032",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "100",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 380,
        "y": 400,
        "wires": [
            [
                "272338aed21fb700"
            ]
        ]
    },
    {
        "id": "2e4529131bdb281a",
        "type": "debug",
        "z": "891c5f8fa7412032",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1100,
        "wires": []
    },
    {
        "id": "3d1ba592de5f1411",
        "type": "ui-chart",
        "z": "891c5f8fa7412032",
        "group": "07da1a9c773b162c",
        "name": "Temperature",
        "label": "Temperature",
        "order": 1,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "*C",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "100",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "24",
        "height": "5",
        "className": "",
        "interpolation": "cubic",
        "x": 1290,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "7f6ec80789e03d6b",
        "type": "debug",
        "z": "891c5f8fa7412032",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 540,
        "wires": []
    },
    {
        "id": "5a4aa93c6504a764",
        "type": "debug",
        "z": "891c5f8fa7412032",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1120,
        "wires": []
    },
    {
        "id": "cea203a37882d3e3",
        "type": "ui-chart",
        "z": "891c5f8fa7412032",
        "group": "07da1a9c773b162c",
        "name": "Humidity",
        "label": "Humidity",
        "order": 2,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "%rH",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "100",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "24",
        "height": "5",
        "className": "",
        "interpolation": "cubic",
        "x": 1280,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "a110f7f6baf5730e",
        "type": "ui-chart",
        "z": "891c5f8fa7412032",
        "group": "07da1a9c773b162c",
        "name": "Pressure",
        "label": "Pressure",
        "order": 3,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "mbar",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "100",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "24",
        "height": "5",
        "className": "",
        "interpolation": "cubic",
        "x": 1280,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "348e5eda531490c9",
        "type": "ui-chart",
        "z": "891c5f8fa7412032",
        "group": "07da1a9c773b162c",
        "name": "VOC",
        "label": "VOC",
        "order": 4,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "ppm",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "100",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "24",
        "height": "5",
        "className": "",
        "interpolation": "cubic",
        "x": 1270,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "dad18e5b3eb821c2",
        "type": "ui-chart",
        "z": "891c5f8fa7412032",
        "group": "07da1a9c773b162c",
        "name": "Particulate",
        "label": "Particulate",
        "order": 5,
        "chartType": "line",
        "category": "series",
        "categoryType": "property",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "ug/m^3",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "0",
        "showLegend": true,
        "removeOlder": "100",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "24",
        "height": "5",
        "className": "",
        "interpolation": "cubic",
        "x": 1250,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "890160fa68ec5af8",
        "type": "debug",
        "z": "891c5f8fa7412032",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 540,
        "wires": []
    },
    {
        "id": "793d4324091d0886",
        "type": "mongodb4",
        "z": "b70ea5f594178d87",
        "clientNode": "1c972b1c1ea9e3e0",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "",
        "x": 530,
        "y": 820,
        "wires": [
            [
                "7d01216c70d2aa27",
                "8ecfd466553f8cf2"
            ]
        ]
    },
    {
        "id": "6fa821717b739862",
        "type": "inject",
        "z": "b70ea5f594178d87",
        "name": "find",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "collection",
                "v": "DataEnvironment",
                "vt": "str"
            },
            {
                "p": "operation",
                "v": "find",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "60",
        "topic": "",
        "payload": "[{\"data.ID\":\"55333C\"}]",
        "payloadType": "json",
        "x": 115,
        "y": 861,
        "wires": [
            [
                "793d4324091d0886"
            ]
        ]
    },
    {
        "id": "8ecfd466553f8cf2",
        "type": "function",
        "z": "b70ea5f594178d87",
        "name": "Bosch",
        "func": "var data1 = [];\nvar data2 = [];\nvar data3 = [];\nvar data4 = [];\n\nfor(i = 0; i < msg.payload.length;i++)\n{\n    var element = msg.payload[i];\n    var timestamp = element.timestamp;\n    var series = element.data.ID;\n\n    data1.push({\"series\":series,\"x\":timestamp,\"y\":element.data.T});\n    data2.push({\"series\":series,\"x\":timestamp,\"y\":element.data.H});\n    data3.push({\"series\":series,\"x\":timestamp,\"y\":element.data.P/100}); // Pa to mbar\n    data4.push({\"series\":series,\"x\":timestamp,\"y\":element.data.VOC});\n}\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\n\nmsg1.payload = data1;\nmsg2.payload = data2;\nmsg3.payload = data3;\nmsg4.payload = data4;\n\nreturn [msg1,msg2,msg3,msg4];",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 680,
        "wires": [
            [
                "3ae10c27e7beae14"
            ],
            [
                "d19d85f435bb09c4"
            ],
            [
                "387864f18f1eef19"
            ],
            [
                "502ffd78b14cb2d9"
            ]
        ]
    },
    {
        "id": "561e25c2a88522f5",
        "type": "ui-text-input",
        "z": "b70ea5f594178d87",
        "group": "b158ecdde7717ae9",
        "name": "",
        "label": "From :",
        "order": 6,
        "width": 7,
        "height": 1,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": false,
        "className": "",
        "x": 625,
        "y": 461,
        "wires": [
            [
                "c45b4409a4342520"
            ]
        ]
    },
    {
        "id": "405a67ca9dc8a6e5",
        "type": "ui-text-input",
        "z": "b70ea5f594178d87",
        "group": "b158ecdde7717ae9",
        "name": "",
        "label": "To :",
        "order": 7,
        "width": 7,
        "height": 1,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": false,
        "className": "",
        "x": 625,
        "y": 501,
        "wires": [
            [
                "e36edaa7cd432cfa"
            ]
        ]
    },
    {
        "id": "d92267d165b79774",
        "type": "ui-button",
        "z": "b70ea5f594178d87",
        "group": "b158ecdde7717ae9",
        "name": "",
        "label": "REFRESH",
        "order": 9,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 115,
        "y": 821,
        "wires": [
            [
                "750230cfa84f7b06",
                "2f5da6cbd69ae9e3"
            ]
        ]
    },
    {
        "id": "7b5ef00b0fd07e84",
        "type": "moment",
        "z": "b70ea5f594178d87",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "5",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 445,
        "y": 461,
        "wires": [
            [
                "561e25c2a88522f5"
            ]
        ]
    },
    {
        "id": "3cab16e61f8e4e4c",
        "type": "inject",
        "z": "b70ea5f594178d87",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 135,
        "y": 461,
        "wires": [
            [
                "7b5ef00b0fd07e84",
                "08642e5b0f062a39",
                "6a6b7db301cd43e0"
            ]
        ]
    },
    {
        "id": "08642e5b0f062a39",
        "type": "moment",
        "z": "b70ea5f594178d87",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "1",
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 445,
        "y": 501,
        "wires": [
            [
                "405a67ca9dc8a6e5"
            ]
        ]
    },
    {
        "id": "c45b4409a4342520",
        "type": "change",
        "z": "b70ea5f594178d87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tsFrom",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 795,
        "y": 461,
        "wires": [
            []
        ]
    },
    {
        "id": "e36edaa7cd432cfa",
        "type": "change",
        "z": "b70ea5f594178d87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tsTo",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 785,
        "y": 501,
        "wires": [
            []
        ]
    },
    {
        "id": "750230cfa84f7b06",
        "type": "function",
        "z": "b70ea5f594178d87",
        "name": "",
        "func": "//msg.payload = [{\"sensor_id\":global.get(\"sensorMapping\")[flow.get(\"room_id\")].sensor_id[flow.get(\"sensor_id\")].id,\"timereceived\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}},{\"sort\":{\"timereceived\":1}}];\n//msg.payload = [{\"sensor_id\":flow.get(\"sensor_id\"),\"timestamp\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}}];\n//msg.payload = [{\"sensor_id\":{$in: flow.get(\"sensor_id\")},\"timestamp\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}}];\nmsg.payload = [{\"data.ID\":{$in:flow.get(\"selectedDevice\")},\"timestamp\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}},{\"sort\":{\"timereceived\":1}}];\nmsg.collection = \"DataEnvironment\";\nmsg.operation = \"find\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 820,
        "wires": [
            [
                "793d4324091d0886",
                "ad29999875a4fabe"
            ]
        ]
    },
    {
        "id": "f74cfeb2879472f7",
        "type": "mongodb4",
        "z": "b70ea5f594178d87",
        "clientNode": "1c972b1c1ea9e3e0",
        "collection": "Devices",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "",
        "x": 430,
        "y": 560,
        "wires": [
            [
                "a58d296c06babb8c",
                "ab3964fe916f18af",
                "983aaa319aea8ebc"
            ]
        ]
    },
    {
        "id": "6a6b7db301cd43e0",
        "type": "change",
        "z": "b70ea5f594178d87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{},{\"sort\":{\"data.Order\":1}}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 560,
        "wires": [
            [
                "f74cfeb2879472f7"
            ]
        ]
    },
    {
        "id": "a58d296c06babb8c",
        "type": "change",
        "z": "b70ea5f594178d87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sensorMapping",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 625,
        "y": 561,
        "wires": [
            []
        ]
    },
    {
        "id": "ab3964fe916f18af",
        "type": "function",
        "z": "b70ea5f594178d87",
        "name": "",
        "func": "var msg1 = [];\n\nfor(i = 0; i< msg.payload.length; i++)\n{\n    var el = msg.payload[i];\n    var aLabel = String(el.data.ID);\n    var aValue = String(el.data.ID);\n    var aDescription = String(el.data.Description);\n    var aItem = JSON.parse([\"{\\\"label\\\":\\\"\",aDescription,\" @\",aLabel,\"\\\",\\\"value\\\":\\\"\",aValue,\"\\\"}\"].join(\"\"));\n\n    \n    msg1.push(aItem);\n}\n\nvar msg2 = {};\n\nmsg2.ui_update = {\"options\" : msg1};\n\nreturn msg2",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 560,
        "wires": [
            [
                "96b152798a0068ea"
            ]
        ]
    },
    {
        "id": "8c0192ebe482c845",
        "type": "ui-button",
        "z": "b70ea5f594178d87",
        "group": "b158ecdde7717ae9",
        "name": "",
        "label": "CLEAN",
        "order": 10,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 860,
        "y": 760,
        "wires": [
            [
                "3ae10c27e7beae14",
                "d19d85f435bb09c4",
                "387864f18f1eef19",
                "502ffd78b14cb2d9",
                "89dea590a84d9d48",
                "4443c81b056df7db",
                "a027cb840f39e381"
            ]
        ]
    },
    {
        "id": "ad29999875a4fabe",
        "type": "debug",
        "z": "b70ea5f594178d87",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 880,
        "wires": []
    },
    {
        "id": "96b152798a0068ea",
        "type": "ui-dropdown",
        "z": "b70ea5f594178d87",
        "group": "b158ecdde7717ae9",
        "name": "SensorList",
        "label": "Sensor List",
        "tooltip": "",
        "order": 8,
        "width": "20",
        "height": 1,
        "passthru": false,
        "multiple": true,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 1010,
        "y": 360,
        "wires": [
            [
                "e137d5e95c1214b1",
                "ecc4a00c170dad2e"
            ]
        ]
    },
    {
        "id": "e137d5e95c1214b1",
        "type": "change",
        "z": "b70ea5f594178d87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selectedDevice",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ecc4a00c170dad2e",
        "type": "debug",
        "z": "b70ea5f594178d87",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 440,
        "wires": []
    },
    {
        "id": "7d01216c70d2aa27",
        "type": "debug",
        "z": "b70ea5f594178d87",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 820,
        "wires": []
    },
    {
        "id": "fb39fadefb94d9e7",
        "type": "mongodb4",
        "z": "b70ea5f594178d87",
        "clientNode": "1c972b1c1ea9e3e0",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "",
        "x": 530,
        "y": 960,
        "wires": [
            [
                "213a43e0e87348b4"
            ]
        ]
    },
    {
        "id": "2f5da6cbd69ae9e3",
        "type": "function",
        "z": "b70ea5f594178d87",
        "name": "",
        "func": "//msg.payload = [{\"sensor_id\":global.get(\"sensorMapping\")[flow.get(\"room_id\")].sensor_id[flow.get(\"sensor_id\")].id,\"timereceived\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}},{\"sort\":{\"timereceived\":1}}];\n//msg.payload = [{\"sensor_id\":flow.get(\"sensor_id\"),\"timestamp\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}}];\n//msg.payload = [{\"sensor_id\":{$in: flow.get(\"sensor_id\")},\"timestamp\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}}];\nmsg.payload = [{\"data.ID\":{$in:flow.get(\"selectedDevice\")},\"timestamp\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}},{\"sort\":{\"timereceived\":1}}];\nmsg.collection = \"DataParticulate\";\nmsg.operation = \"find\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 960,
        "wires": [
            [
                "fb39fadefb94d9e7",
                "2d3fbb2cd807d4b9"
            ]
        ]
    },
    {
        "id": "213a43e0e87348b4",
        "type": "function",
        "z": "b70ea5f594178d87",
        "name": "Particulate",
        "func": "var data1 = [];\nvar data2 = [];\nvar data3 = [];\n\nfor(i = 0; i < msg.payload.length;i++)\n{\n    var element = msg.payload[i];\n    var timestamp = Date.parse(element.timestamp);\n    var series = element.data.ID;\n\n    data1.push({\"series\":series,\"x\":timestamp,\"y\":element.data.PM10});\n    data2.push({\"series\":series,\"x\":timestamp,\"y\":element.data.PM25});\n    data3.push({\"series\":series,\"x\":timestamp,\"y\":element.data.PM1});\n}\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\n\nmsg1.payload = data1;\nmsg2.payload = data2;\nmsg3.payload = data3;\n\n\nreturn [msg1,msg2,msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 960,
        "wires": [
            [
                "a17ea49157d23ee1",
                "89dea590a84d9d48"
            ],
            [
                "4443c81b056df7db"
            ],
            [
                "a027cb840f39e381"
            ]
        ]
    },
    {
        "id": "983aaa319aea8ebc",
        "type": "debug",
        "z": "b70ea5f594178d87",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 640,
        "wires": []
    },
    {
        "id": "065ef2c866f213a8",
        "type": "ui-button",
        "z": "b70ea5f594178d87",
        "group": "b158ecdde7717ae9",
        "name": "",
        "label": "1 Day",
        "order": 1,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "f748f2a0c2822b77",
                "08642e5b0f062a39"
            ]
        ]
    },
    {
        "id": "fa8b5e04aa015e96",
        "type": "ui-button",
        "z": "b70ea5f594178d87",
        "group": "b158ecdde7717ae9",
        "name": "",
        "label": "2 Days",
        "order": 2,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 125,
        "y": 141,
        "wires": [
            [
                "8f1288775faa48de",
                "08642e5b0f062a39"
            ]
        ]
    },
    {
        "id": "b09329bafc512317",
        "type": "ui-button",
        "z": "b70ea5f594178d87",
        "group": "b158ecdde7717ae9",
        "name": "",
        "label": "5 Days",
        "order": 3,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "1c9a4442f7efcd9a",
                "08642e5b0f062a39"
            ]
        ]
    },
    {
        "id": "ba768f56b29c3fd5",
        "type": "ui-button",
        "z": "b70ea5f594178d87",
        "group": "b158ecdde7717ae9",
        "name": "",
        "label": "10 Days",
        "order": 4,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 125,
        "y": 301,
        "wires": [
            [
                "cc958f829c543953",
                "08642e5b0f062a39"
            ]
        ]
    },
    {
        "id": "472ea23034893ee1",
        "type": "ui-button",
        "z": "b70ea5f594178d87",
        "group": "b158ecdde7717ae9",
        "name": "",
        "label": "100 Days",
        "order": 5,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 125,
        "y": 381,
        "wires": [
            [
                "6a8ec1f18fee52b1",
                "08642e5b0f062a39"
            ]
        ]
    },
    {
        "id": "f748f2a0c2822b77",
        "type": "moment",
        "z": "b70ea5f594178d87",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "1",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 405,
        "y": 61,
        "wires": [
            [
                "561e25c2a88522f5"
            ]
        ]
    },
    {
        "id": "8f1288775faa48de",
        "type": "moment",
        "z": "b70ea5f594178d87",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "2",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 405,
        "y": 141,
        "wires": [
            [
                "561e25c2a88522f5"
            ]
        ]
    },
    {
        "id": "1c9a4442f7efcd9a",
        "type": "moment",
        "z": "b70ea5f594178d87",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "5",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 405,
        "y": 221,
        "wires": [
            [
                "561e25c2a88522f5"
            ]
        ]
    },
    {
        "id": "cc958f829c543953",
        "type": "moment",
        "z": "b70ea5f594178d87",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "10",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 405,
        "y": 301,
        "wires": [
            [
                "561e25c2a88522f5"
            ]
        ]
    },
    {
        "id": "6a8ec1f18fee52b1",
        "type": "moment",
        "z": "b70ea5f594178d87",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "100",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 405,
        "y": 381,
        "wires": [
            [
                "561e25c2a88522f5"
            ]
        ]
    },
    {
        "id": "2d3fbb2cd807d4b9",
        "type": "debug",
        "z": "b70ea5f594178d87",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1080,
        "wires": []
    },
    {
        "id": "a17ea49157d23ee1",
        "type": "debug",
        "z": "b70ea5f594178d87",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 820,
        "wires": []
    },
    {
        "id": "3ae10c27e7beae14",
        "type": "ui-chart",
        "z": "b70ea5f594178d87",
        "group": "ee07921ccfa70b25",
        "name": "Temperature",
        "label": "Temperature",
        "order": 1,
        "chartType": "line",
        "category": "series",
        "categoryType": "property",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "*C",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "0",
        "showLegend": true,
        "removeOlder": "100",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "24",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 1310,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "d19d85f435bb09c4",
        "type": "ui-chart",
        "z": "b70ea5f594178d87",
        "group": "ee07921ccfa70b25",
        "name": "Humidity",
        "label": "Humidity",
        "order": 2,
        "chartType": "line",
        "category": "series",
        "categoryType": "property",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "%rH",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "100",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "24",
        "height": "5",
        "className": "",
        "interpolation": "cubic",
        "x": 1300,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "387864f18f1eef19",
        "type": "ui-chart",
        "z": "b70ea5f594178d87",
        "group": "ee07921ccfa70b25",
        "name": "Pressure",
        "label": "Pressure",
        "order": 3,
        "chartType": "line",
        "category": "series",
        "categoryType": "property",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "mbar",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "100",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "24",
        "height": "5",
        "className": "",
        "interpolation": "cubic",
        "x": 1300,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "502ffd78b14cb2d9",
        "type": "ui-chart",
        "z": "b70ea5f594178d87",
        "group": "ee07921ccfa70b25",
        "name": "VOC",
        "label": "VOC",
        "order": 4,
        "chartType": "line",
        "category": "series",
        "categoryType": "property",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "ppm",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "100",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "24",
        "height": "5",
        "className": "",
        "interpolation": "cubic",
        "x": 1290,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "89dea590a84d9d48",
        "type": "ui-chart",
        "z": "b70ea5f594178d87",
        "group": "ee07921ccfa70b25",
        "name": "ParticulatePM10",
        "label": "PM 10",
        "order": 5,
        "chartType": "line",
        "category": "series",
        "categoryType": "property",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "ug/m^3",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "0",
        "showLegend": true,
        "removeOlder": "100",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "24",
        "height": "5",
        "className": "",
        "interpolation": "cubic",
        "x": 1360,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "4443c81b056df7db",
        "type": "ui-chart",
        "z": "b70ea5f594178d87",
        "group": "ee07921ccfa70b25",
        "name": "ParticulatePM25",
        "label": "PM 2.5",
        "order": 6,
        "chartType": "line",
        "category": "series",
        "categoryType": "property",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "ug/m^3",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "100",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "24",
        "height": "5",
        "className": "",
        "interpolation": "cubic",
        "x": 1360,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "a027cb840f39e381",
        "type": "ui-chart",
        "z": "b70ea5f594178d87",
        "group": "ee07921ccfa70b25",
        "name": "ParticulatePM1",
        "label": "PM 1",
        "order": 7,
        "chartType": "line",
        "category": "series",
        "categoryType": "property",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "ug/m^3",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "100",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "24",
        "height": "5",
        "className": "",
        "interpolation": "cubic",
        "x": 1360,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "30059b00614a3940",
        "type": "mongodb4",
        "z": "77c4469fc43c7a72",
        "clientNode": "1c972b1c1ea9e3e0",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "",
        "x": 590,
        "y": 840,
        "wires": [
            [
                "3b2cc636a8f2b0c3",
                "5651b2c56539aa81"
            ]
        ]
    },
    {
        "id": "49e5e5583131f799",
        "type": "inject",
        "z": "77c4469fc43c7a72",
        "name": "find",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "collection",
                "v": "DataEnvironment",
                "vt": "str"
            },
            {
                "p": "operation",
                "v": "find",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "60",
        "topic": "",
        "payload": "[{\"data.ID\":\"55333C\"}]",
        "payloadType": "json",
        "x": 150,
        "y": 880,
        "wires": [
            [
                "30059b00614a3940"
            ]
        ]
    },
    {
        "id": "3b2cc636a8f2b0c3",
        "type": "function",
        "z": "77c4469fc43c7a72",
        "name": "OpenWeather",
        "func": "var data1 = [];\nvar data2 = [];\nvar data3 = [];\nvar data4 = [];\nvar data5 = [];\n\nfor(i = 0; i < msg.payload.length;i++)\n{\n    var element = msg.payload[i];\n    var data = element.data;\n    var timestamp = element.timestamp;\n\n    data1.push({\"series\":\"min\",\"x\":timestamp,\"y\":data.mintemp-273.15});\n    data1.push({\"series\":\"ave\",\"x\":timestamp,\"y\":data.tempk-273.15});\n    data1.push({\"series\":\"max\",\"x\":timestamp,\"y\":data.maxtemp-273.15});\n    data2.push({\"x\":timestamp,\"y\":data.humidity}); \n    data3.push({\"x\":timestamp,\"y\":data.pressure}); //  mbar\n    data4.push({\"x\":timestamp,\"y\":data.windspeed});\n    data5.push({\"x\":timestamp,\"y\":data.clouds});\n}\n\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\n\nmsg1.payload = data1;\nmsg2.payload = data2;\nmsg3.payload = data3;\nmsg4.payload = data4;\nmsg5.payload = data5;\n\nreturn [msg1,msg2,msg3,msg4,msg5];",
        "outputs": 5,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 700,
        "wires": [
            [
                "8fc9729430fc0c02",
                "a373cf30c6c65b8a"
            ],
            [
                "d39767ed3478efa4"
            ],
            [
                "8716f56e112fabd3"
            ],
            [
                "d76c6756b02ac246"
            ],
            [
                "4f5c613061a5ee58"
            ]
        ]
    },
    {
        "id": "f26fcf48eaf00368",
        "type": "ui-text-input",
        "z": "77c4469fc43c7a72",
        "group": "be8a03be217c2922",
        "name": "",
        "label": "From :",
        "order": 6,
        "width": 7,
        "height": 1,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": false,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 660,
        "y": 480,
        "wires": [
            [
                "f9d296787c3c655c"
            ]
        ]
    },
    {
        "id": "f95637e5db5386c6",
        "type": "ui-text-input",
        "z": "77c4469fc43c7a72",
        "group": "be8a03be217c2922",
        "name": "",
        "label": "To :",
        "order": 7,
        "width": 7,
        "height": 1,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": false,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 660,
        "y": 520,
        "wires": [
            [
                "715ba524d7d79eb3"
            ]
        ]
    },
    {
        "id": "853aa633a883ba1f",
        "type": "ui-button",
        "z": "77c4469fc43c7a72",
        "group": "be8a03be217c2922",
        "name": "",
        "label": "REFRESH",
        "order": 8,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 840,
        "wires": [
            [
                "4b821a1dbd100a8d"
            ]
        ]
    },
    {
        "id": "eb6a39f77ec10317",
        "type": "moment",
        "z": "77c4469fc43c7a72",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "5",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 480,
        "y": 480,
        "wires": [
            [
                "f26fcf48eaf00368"
            ]
        ]
    },
    {
        "id": "7c9247955f912dad",
        "type": "inject",
        "z": "77c4469fc43c7a72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "eb6a39f77ec10317",
                "04791a09f41f75d9"
            ]
        ]
    },
    {
        "id": "04791a09f41f75d9",
        "type": "moment",
        "z": "77c4469fc43c7a72",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "1",
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 480,
        "y": 520,
        "wires": [
            [
                "f95637e5db5386c6"
            ]
        ]
    },
    {
        "id": "f9d296787c3c655c",
        "type": "change",
        "z": "77c4469fc43c7a72",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tsFrom",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "715ba524d7d79eb3",
        "type": "change",
        "z": "77c4469fc43c7a72",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tsTo",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "4b821a1dbd100a8d",
        "type": "function",
        "z": "77c4469fc43c7a72",
        "name": "",
        "func": "//msg.payload = [{\"sensor_id\":global.get(\"sensorMapping\")[flow.get(\"room_id\")].sensor_id[flow.get(\"sensor_id\")].id,\"timereceived\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}},{\"sort\":{\"timereceived\":1}}];\n//msg.payload = [{\"sensor_id\":flow.get(\"sensor_id\"),\"timestamp\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}}];\n//msg.payload = [{\"sensor_id\":{$in: flow.get(\"sensor_id\")},\"timestamp\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}}];\nmsg.payload = [{\"timestamp\": {\"$gte\": new Date(flow.get(\"tsFrom\")), \"$lt\": new Date(flow.get(\"tsTo\"))}},{\"sort\":{\"timereceived\":1}}];\nmsg.collection = \"Weather\";\nmsg.operation = \"find\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 840,
        "wires": [
            [
                "30059b00614a3940",
                "889b71bf2826d7ef"
            ]
        ]
    },
    {
        "id": "ce6d88c2eb889650",
        "type": "ui-button",
        "z": "77c4469fc43c7a72",
        "group": "be8a03be217c2922",
        "name": "",
        "label": "CLEAN",
        "order": 9,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 765,
        "y": 619,
        "wires": [
            [
                "8fc9729430fc0c02",
                "d39767ed3478efa4",
                "8716f56e112fabd3",
                "d76c6756b02ac246",
                "4f5c613061a5ee58"
            ]
        ]
    },
    {
        "id": "889b71bf2826d7ef",
        "type": "debug",
        "z": "77c4469fc43c7a72",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 555,
        "y": 899,
        "wires": []
    },
    {
        "id": "5651b2c56539aa81",
        "type": "debug",
        "z": "77c4469fc43c7a72",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 795,
        "y": 839,
        "wires": []
    },
    {
        "id": "ede323ccf1e11f8b",
        "type": "ui-button",
        "z": "77c4469fc43c7a72",
        "group": "be8a03be217c2922",
        "name": "",
        "label": "1 Day",
        "order": 1,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "ede664d66a5f3665",
                "04791a09f41f75d9"
            ]
        ]
    },
    {
        "id": "fe9b317f7f6c280d",
        "type": "ui-button",
        "z": "77c4469fc43c7a72",
        "group": "be8a03be217c2922",
        "name": "",
        "label": "2 Days",
        "order": 2,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "bcd97c47eafb9edb",
                "04791a09f41f75d9"
            ]
        ]
    },
    {
        "id": "2418bae1f6e2b666",
        "type": "ui-button",
        "z": "77c4469fc43c7a72",
        "group": "be8a03be217c2922",
        "name": "",
        "label": "5 Days",
        "order": 3,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "c4443a1bdc3c9ccb",
                "04791a09f41f75d9"
            ]
        ]
    },
    {
        "id": "8da46d289d2f5c32",
        "type": "ui-button",
        "z": "77c4469fc43c7a72",
        "group": "be8a03be217c2922",
        "name": "",
        "label": "10 Days",
        "order": 4,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "9df9254dbb1d39a5",
                "04791a09f41f75d9"
            ]
        ]
    },
    {
        "id": "d593c91d3ebdb98c",
        "type": "ui-button",
        "z": "77c4469fc43c7a72",
        "group": "be8a03be217c2922",
        "name": "",
        "label": "100 Days",
        "order": 5,
        "width": 2,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "d38270bbfda0a872",
                "04791a09f41f75d9"
            ]
        ]
    },
    {
        "id": "ede664d66a5f3665",
        "type": "moment",
        "z": "77c4469fc43c7a72",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "1",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 440,
        "y": 80,
        "wires": [
            [
                "f26fcf48eaf00368"
            ]
        ]
    },
    {
        "id": "bcd97c47eafb9edb",
        "type": "moment",
        "z": "77c4469fc43c7a72",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "2",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 440,
        "y": 160,
        "wires": [
            [
                "f26fcf48eaf00368"
            ]
        ]
    },
    {
        "id": "c4443a1bdc3c9ccb",
        "type": "moment",
        "z": "77c4469fc43c7a72",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "5",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 440,
        "y": 240,
        "wires": [
            [
                "f26fcf48eaf00368"
            ]
        ]
    },
    {
        "id": "9df9254dbb1d39a5",
        "type": "moment",
        "z": "77c4469fc43c7a72",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "10",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 440,
        "y": 320,
        "wires": [
            [
                "f26fcf48eaf00368"
            ]
        ]
    },
    {
        "id": "d38270bbfda0a872",
        "type": "moment",
        "z": "77c4469fc43c7a72",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "100",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "",
        "locale": "it-IT",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 440,
        "y": 400,
        "wires": [
            [
                "f26fcf48eaf00368"
            ]
        ]
    },
    {
        "id": "8fc9729430fc0c02",
        "type": "ui-chart",
        "z": "77c4469fc43c7a72",
        "group": "4a049d5eac4a28a9",
        "name": "Temperature",
        "label": "Temperature",
        "order": 1,
        "chartType": "line",
        "category": "series",
        "categoryType": "property",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "*C",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "0",
        "showLegend": true,
        "removeOlder": "100",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "24",
        "height": "5",
        "className": "",
        "interpolation": "cubic",
        "x": 1350,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "d39767ed3478efa4",
        "type": "ui-chart",
        "z": "77c4469fc43c7a72",
        "group": "4a049d5eac4a28a9",
        "name": "Humidity",
        "label": "Humidity",
        "order": 2,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "%rH",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "100",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "24",
        "height": "5",
        "className": "",
        "interpolation": "cubic",
        "x": 1340,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "8716f56e112fabd3",
        "type": "ui-chart",
        "z": "77c4469fc43c7a72",
        "group": "4a049d5eac4a28a9",
        "name": "Pressure",
        "label": "Pressure",
        "order": 3,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "mbar",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "100",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "24",
        "height": "5",
        "className": "",
        "interpolation": "cubic",
        "x": 1340,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "d76c6756b02ac246",
        "type": "ui-chart",
        "z": "77c4469fc43c7a72",
        "group": "4a049d5eac4a28a9",
        "name": "Wind",
        "label": "Wind",
        "order": 4,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "m/s",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "100",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "24",
        "height": "5",
        "className": "",
        "interpolation": "cubic",
        "x": 1330,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "a373cf30c6c65b8a",
        "type": "debug",
        "z": "77c4469fc43c7a72",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 540,
        "wires": []
    },
    {
        "id": "4f5c613061a5ee58",
        "type": "ui-chart",
        "z": "77c4469fc43c7a72",
        "group": "4a049d5eac4a28a9",
        "name": "Clouds",
        "label": "Clouds",
        "order": 5,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "dd HH:mm",
        "xAxisFormatType": "custom",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "%",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "100",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "24",
        "height": "5",
        "className": "",
        "interpolation": "cubic",
        "x": 1340,
        "y": 840,
        "wires": [
            []
        ]
    }
]