nodered/server_with_dashboards.json
[
    {
        "id": "3d513226ae0b4dcf",
        "type": "tab",
        "label": "PolverineServer",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dd8868760abdea62",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bf56a89fe00aa932",
        "type": "mongodb4-client",
        "name": "POLVERINE_LOCAL",
        "protocol": "mongodb",
        "hostname": "localhost",
        "port": "",
        "dbName": "Polverine",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "558311bc7e2e57e5",
        "type": "ui_tab",
        "name": "BME690",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "98c938c1bfcde4fa",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "214b1c7aa4a3db84",
        "type": "ui_tab",
        "name": "Plots",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f8404ba2e6cff6df",
        "type": "ui_group",
        "name": "Pressure",
        "tab": "214b1c7aa4a3db84",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e970801d260f4316",
        "type": "ui_group",
        "name": "Air Quality - CO2",
        "tab": "558311bc7e2e57e5",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8e9ed070d49c40ba",
        "type": "ui_tab",
        "name": "Additional Info",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "02a3f137108f3beb",
        "type": "ui_group",
        "name": "Air Quality - Index",
        "tab": "558311bc7e2e57e5",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "da7f94777cd86ed2",
        "type": "ui_group",
        "name": "Air Quality Index - Indoor",
        "tab": "558311bc7e2e57e5",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2fec3f4420891c61",
        "type": "ui_tab",
        "name": "BMV080",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c9405431f6de48d5",
        "type": "ui_group",
        "name": "Air Quality - PM10",
        "tab": "2fec3f4420891c61",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "90517fb63f8f3909",
        "type": "ui_group",
        "name": "Air Quality - PM2.5",
        "tab": "2fec3f4420891c61",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "add5237afdbdf865",
        "type": "ui_group",
        "name": "Air Quality - PM1",
        "tab": "2fec3f4420891c61",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b0fe0db9779846de",
        "type": "ui_group",
        "name": "Comfort",
        "tab": "558311bc7e2e57e5",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c5684d9954a36fc2",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "214b1c7aa4a3db84",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "86bcf2df7d6c444d",
        "type": "ui_group",
        "name": "Air Quality- bVOC",
        "tab": "558311bc7e2e57e5",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e88eb0f2309327ad",
        "type": "ui_group",
        "name": "Air Quality - Accuracy",
        "tab": "558311bc7e2e57e5",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "29def00dca025cc2",
        "type": "mqtt in",
        "z": "3d513226ae0b4dcf",
        "name": "",
        "topic": "polverine/+/bme690",
        "qos": "0",
        "datatype": "json",
        "broker": "dd8868760abdea62",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "43dca7bf270c6fec",
                "3f0e8519289e884c",
                "9e0e2f9a1e401155",
                "692a93df023abd67",
                "bc4bcdcd706972ed",
                "809622c10dd57b80",
                "3aaccf02903571b1",
                "c8a44cfed591cf83",
                "a8cdeaf1c1368569",
                "85b7fc16033fa64a"
            ]
        ]
    },
    {
        "id": "43dca7bf270c6fec",
        "type": "debug",
        "z": "3d513226ae0b4dcf",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 280,
        "wires": []
    },
    {
        "id": "0418aa24c8a4c369",
        "type": "mqtt in",
        "z": "3d513226ae0b4dcf",
        "name": "",
        "topic": "polverine/+/bmv080",
        "qos": "0",
        "datatype": "json",
        "broker": "dd8868760abdea62",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 500,
        "wires": [
            [
                "63c4ede5f10d34b8",
                "53f356711dbd539b",
                "edeb593f3507e908",
                "7ba07cb9ddc5a83b",
                "5dc280ade0276a3a"
            ]
        ]
    },
    {
        "id": "63c4ede5f10d34b8",
        "type": "debug",
        "z": "3d513226ae0b4dcf",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 420,
        "wires": []
    },
    {
        "id": "bff581fb754de6b5",
        "type": "mongodb4",
        "z": "3d513226ae0b4dcf",
        "clientNode": "bf56a89fe00aa932",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 1305,
        "y": 440,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "53f356711dbd539b",
        "type": "function",
        "z": "3d513226ae0b4dcf",
        "name": "Particulate",
        "func": "    msg = {\n        collection: \"DataParticulate\",\n        operation: \"insertOne\",\n        payload: [{ timestamp: new Date(), data: msg.payload }]\n    }\n    return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 780,
        "wires": [
            [
                "bff581fb754de6b5"
            ]
        ]
    },
    {
        "id": "3f0e8519289e884c",
        "type": "function",
        "z": "3d513226ae0b4dcf",
        "name": "Environment",
        "func": "    msg = {\n        collection: \"DataEnvironment\",\n        operation: \"insertOne\",\n        payload: [{ timestamp: new Date(), data: msg.payload }]\n    }\n    return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 420,
        "wires": [
            [
                "bff581fb754de6b5"
            ]
        ]
    },
    {
        "id": "bd2a42dc66652d34",
        "type": "function",
        "z": "3d513226ae0b4dcf",
        "name": "Bosch SensorEnviro",
        "func": "\nmsg = {\n collection : \"Weather\",\n operation : \"insertOne\",\n payload : [{timestamp : new Date(), data : msg.payload} ]\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 920,
        "wires": [
            [
                "ef90439cad72da76",
                "bff581fb754de6b5"
            ]
        ]
    },
    {
        "id": "1443d560265732bf",
        "type": "comment",
        "z": "3d513226ae0b4dcf",
        "name": "Lettura dati meteo da openweathermap",
        "info": "",
        "x": 210,
        "y": 820,
        "wires": []
    },
    {
        "id": "ef90439cad72da76",
        "type": "debug",
        "z": "3d513226ae0b4dcf",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 920,
        "wires": []
    },
    {
        "id": "02de20ec4b358d89",
        "type": "openweathermap in",
        "z": "3d513226ae0b4dcf",
        "name": "Office",
        "wtype": "current",
        "lon": "9.222673826918157",
        "lat": "45.51426769586373",
        "city": "",
        "country": "",
        "language": "en",
        "x": 270,
        "y": 920,
        "wires": [
            [
                "bd2a42dc66652d34"
            ]
        ]
    },
    {
        "id": "9e0e2f9a1e401155",
        "type": "function",
        "z": "3d513226ae0b4dcf",
        "name": "function 1",
        "func": "msg.temperature_c = msg.payload.T;  // Temperature in Celsius\nmsg.temperature_f = ((msg.temperature_c * 1.8) + 32);  // Temperature in Fahrenheit\nmsg.temperature_f = Math.trunc(msg.temperature_f * 100) / 100;  // Truncate to 2 decimal places\n\nmsg.humidity = msg.payload.H;     // Humidity\nmsg.pressure = msg.payload.P;     // Pressure\nmsg.co2 = msg.payload.CO2;        // CO2\nmsg.iaq = msg.payload.IAQ;        // Indoor Air Quality\n\n// Creating an array of objects with labels (topics)\nmsg.payload = [\n    { \"topic\": \"Temperature (°C)\", \"value\": msg.temperature_c },\n    { \"topic\": \"Temperature (°F)\", \"value\": msg.temperature_f },\n    { \"topic\": \"Humidity (%)\", \"value\": msg.humidity },\n    { \"topic\": \"Pressure (Pa)\", \"value\": msg.pressure },\n    { \"topic\": \"CO2 (ppm)\", \"value\": msg.co2 },\n    { \"topic\": \"Indoor Air Quality (IAQ)\", \"value\": msg.iaq }\n];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b4af38f6ce71473a",
        "type": "ui_gauge",
        "z": "3d513226ae0b4dcf",
        "name": "",
        "group": "b0fe0db9779846de",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°F",
        "format": "{{msg.temperature_f}}",
        "min": "-40",
        "max": "185",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 20,
        "wires": []
    },
    {
        "id": "9dd6ac9f616894cd",
        "type": "ui_chart",
        "z": "3d513226ae0b4dcf",
        "name": "BME690 Temperature",
        "group": "b0fe0db9779846de",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "unknown",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "692a93df023abd67",
        "type": "function",
        "z": "3d513226ae0b4dcf",
        "name": "function 2",
        "func": "var msg1 = {};\n\nmsg1.temperature_c = msg.payload.T;  // Temperature in Celsius\nmsg1.temperature_f = ((msg1.temperature_c * 1.8) + 32);  // Temperature in Fahrenheit\nmsg1.temperature_f = Math.trunc(msg1.temperature_f * 100) / 100;  // Truncate to 2 decimal places\n\nmsg1.humidity = msg.payload.H;     // Humidity\nmsg1.pressure = msg.payload.P;     // Pressure\nmsg1.co2 = msg.payload.CO2;        // CO2\nmsg1.iaq = msg.payload.IAQ;        // Indoor Air Quality\n\nmsg1.topic = 'Temerature (°C)';\nmsg1.payload = msg1.temperature_c;\n\nreturn msg1;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 60,
        "wires": [
            [
                "9dd6ac9f616894cd",
                "b4af38f6ce71473a"
            ]
        ]
    },
    {
        "id": "da859432c3f3dcab",
        "type": "ui_chart",
        "z": "3d513226ae0b4dcf",
        "name": "BME690 Humidity",
        "group": "c5684d9954a36fc2",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "unknown",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "bc4bcdcd706972ed",
        "type": "function",
        "z": "3d513226ae0b4dcf",
        "name": "function 3",
        "func": "var msg1 = {};\n\nmsg1.temperature_c = msg.payload.T;  // Temperature in Celsius\nmsg1.temperature_f = ((msg1.temperature_c * 1.8) + 32);  // Temperature in Fahrenheit\nmsg1.temperature_f = Math.trunc(msg1.temperature_f * 100) / 100;  // Truncate to 2 decimal places\n\nmsg1.humidity = msg.payload.H;     // Humidity\nmsg1.pressure = msg.payload.P;     // Pressure\nmsg1.co2 = msg.payload.CO2;        // CO2\nmsg1.iaq = msg.payload.IAQ;        // Indoor Air Quality\n\nmsg1.topic = 'Humidity (%)';\nmsg1.payload = msg1.humidity;\n\nreturn msg1;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 100,
        "wires": [
            [
                "9f506a0d695f8f7b",
                "da859432c3f3dcab"
            ]
        ]
    },
    {
        "id": "9f506a0d695f8f7b",
        "type": "ui_gauge",
        "z": "3d513226ae0b4dcf",
        "name": "Relative Humidity",
        "group": "b0fe0db9779846de",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Relative Humidity",
        "label": "%",
        "format": "{{msg.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "809622c10dd57b80",
        "type": "function",
        "z": "3d513226ae0b4dcf",
        "name": "function 4",
        "func": "var msg1 = {};\n\nmsg1.temperature_c = msg.payload.T;  // Temperature in Celsius\nmsg1.temperature_f = ((msg1.temperature_c * 1.8) + 32);  // Temperature in Fahrenheit\nmsg1.temperature_f = Math.trunc(msg1.temperature_f * 100) / 100;  // Truncate to 2 decimal places\n\nmsg1.humidity = msg.payload.H;     // Humidity\nmsg1.pressure = msg.payload.P;     // Pressure\nmsg1.co2 = msg.payload.CO2;        // CO2\nmsg1.iaq = msg.payload.IAQ;        // Indoor Air Quality\n\nmsg1.topic = 'Air Pressure (pa)';\nmsg1.payload = msg1.pressure;\n\nreturn msg1;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 140,
        "wires": [
            [
                "5c1ed13a8359f37e",
                "29f7c7fa8e604696"
            ]
        ]
    },
    {
        "id": "5c1ed13a8359f37e",
        "type": "ui_gauge",
        "z": "3d513226ae0b4dcf",
        "name": "Air Pressure",
        "group": "f8404ba2e6cff6df",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Pressure",
        "label": "Pa",
        "format": "{{msg.pressure}}",
        "min": "30000",
        "max": "110000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "29f7c7fa8e604696",
        "type": "ui_chart",
        "z": "3d513226ae0b4dcf",
        "name": "Air Pressure",
        "group": "f8404ba2e6cff6df",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Air Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "unknown",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3aaccf02903571b1",
        "type": "function",
        "z": "3d513226ae0b4dcf",
        "name": "function 5",
        "func": "var msg1 = {};\n\nmsg1.temperature_c = msg.payload.T;  // Temperature in Celsius\nmsg1.temperature_f = ((msg1.temperature_c * 1.8) + 32);  // Temperature in Fahrenheit\nmsg1.temperature_f = Math.trunc(msg1.temperature_f * 100) / 100;  // Truncate to 2 decimal places\n\nmsg1.humidity = msg.payload.H;     // Humidity\nmsg1.pressure = msg.payload.P;     // Pressure\nmsg1.co2 = msg.payload.CO2;        // CO2\nmsg1.iaq = msg.payload.IAQ;        // Indoor Air Quality\n\nmsg1.topic = 'Air Quality Index';\nmsg1.payload = msg1.iaq;\n\nreturn msg1;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 180,
        "wires": [
            [
                "5e0d9936e38c0e90",
                "025ad4e8809d704e"
            ]
        ]
    },
    {
        "id": "2dbab4c63447fcad",
        "type": "ui_gauge",
        "z": "3d513226ae0b4dcf",
        "name": "e-CO2 (ppm)",
        "group": "e970801d260f4316",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "e-CO2 (ppm)",
        "label": "ppm",
        "format": "{{msg.co2}}",
        "min": 0,
        "max": "100000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "32aea768d914b6c1",
        "type": "ui_chart",
        "z": "3d513226ae0b4dcf",
        "name": "eCO2 (ppm)",
        "group": "e970801d260f4316",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "eCO2 (ppm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "unknown",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "c8a44cfed591cf83",
        "type": "function",
        "z": "3d513226ae0b4dcf",
        "name": "function 6",
        "func": "var msg1 = {};\n\nmsg1.temperature_c = msg.payload.T;  // Temperature in Celsius\nmsg1.temperature_f = ((msg1.temperature_c * 1.8) + 32);  // Temperature in Fahrenheit\nmsg1.temperature_f = Math.trunc(msg1.temperature_f * 100) / 100;  // Truncate to 2 decimal places\n\nmsg1.humidity = msg.payload.H;     // Humidity\nmsg1.pressure = msg.payload.P;     // Pressure\nmsg1.co2 = msg.payload.CO2;        // CO2\nmsg1.iaq = msg.payload.IAQ;        // Indoor Air Quality\nmsg1.bVOC = msg.payload.VOC * 1000;\n\nmsg1.topic = 'Air Quality Index';\nmsg1.payload = msg1.bVOC ;\n\nreturn msg1;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 220,
        "wires": [
            [
                "dd9f2a51571da0a9",
                "e10d336f25781028"
            ]
        ]
    },
    {
        "id": "5e0d9936e38c0e90",
        "type": "ui_gauge",
        "z": "3d513226ae0b4dcf",
        "name": "Air Quality Index",
        "group": "da7f94777cd86ed2",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Quality Index",
        "label": "",
        "format": "{{msg.iaq}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "200",
        "diff": false,
        "className": "",
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "025ad4e8809d704e",
        "type": "ui_chart",
        "z": "3d513226ae0b4dcf",
        "name": "Air Quality Index",
        "group": "da7f94777cd86ed2",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Air Quality Index",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "unknown",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "edeb593f3507e908",
        "type": "function",
        "z": "3d513226ae0b4dcf",
        "name": "function 7",
        "func": "var msg1 = {};\n\nmsg1.pm10 = msg.payload.PM10;\n\nmsg1.pm2_5 = msg.payload.PM25;     // pm2.5\nmsg1.pm1 = msg.payload.pm1;     // Pressure\n\n\nmsg1.topic = 'PM 2.5';\nmsg1.payload = msg1.pm10;\n\nreturn msg1;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 480,
        "wires": [
            [
                "08d3ad9b79ecdb19",
                "443eadf80b5675c3"
            ]
        ]
    },
    {
        "id": "08d3ad9b79ecdb19",
        "type": "ui_gauge",
        "z": "3d513226ae0b4dcf",
        "name": "PM 10",
        "group": "c9405431f6de48d5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PM 10",
        "label": "µg/m³",
        "format": "{{msg.pm10}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "200",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "443eadf80b5675c3",
        "type": "ui_chart",
        "z": "3d513226ae0b4dcf",
        "name": "PM 10",
        "group": "c9405431f6de48d5",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "PM 10",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "unknown",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#8b1fef",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "7ba07cb9ddc5a83b",
        "type": "function",
        "z": "3d513226ae0b4dcf",
        "name": "function 8",
        "func": "var msg1 = {};\n\nmsg1.pm10 = msg.payload.PM10;\n\nmsg1.pm2_5 = msg.payload.PM25;     // pm2.5\nmsg1.pm1 = msg.payload.pm1;     // Pressure\n\n\nmsg1.topic = 'PM 2.5';\nmsg1.payload = msg1.pm10;\n\nreturn msg1;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 540,
        "wires": [
            [
                "248d78c806c8ed0e",
                "d44d6df3072f4d21"
            ]
        ]
    },
    {
        "id": "248d78c806c8ed0e",
        "type": "ui_gauge",
        "z": "3d513226ae0b4dcf",
        "name": "PM 2.5",
        "group": "90517fb63f8f3909",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PM 2.5",
        "label": "µg/m³",
        "format": "{{msg.pm2_5}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "200",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "d44d6df3072f4d21",
        "type": "ui_chart",
        "z": "3d513226ae0b4dcf",
        "name": "PM 2.5",
        "group": "90517fb63f8f3909",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "PM 2.5",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "unknown",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#6916b6",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "5dc280ade0276a3a",
        "type": "function",
        "z": "3d513226ae0b4dcf",
        "name": "function 9",
        "func": "var msg1 = {};\n\nmsg1.pm10 = msg.payload.PM10;\n\nmsg1.pm2_5 = msg.payload.PM25;     // pm2.5\nmsg1.pm1 = msg.payload.PM1;     // Pressure\n\n\nmsg1.topic = 'PM 1';\nmsg1.payload = msg1.pm1;\n\nreturn msg1;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 620,
        "wires": [
            [
                "f8aa59082046bd23",
                "4a088c7650f544f0"
            ]
        ]
    },
    {
        "id": "f8aa59082046bd23",
        "type": "ui_gauge",
        "z": "3d513226ae0b4dcf",
        "name": "PM 1",
        "group": "add5237afdbdf865",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PM 1",
        "label": "µg/m³",
        "format": "{{msg.pm1}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "200",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "4a088c7650f544f0",
        "type": "ui_chart",
        "z": "3d513226ae0b4dcf",
        "name": "PM 1",
        "group": "add5237afdbdf865",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "PM 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "unknown",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#220e34",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "a8cdeaf1c1368569",
        "type": "function",
        "z": "3d513226ae0b4dcf",
        "name": "function 10",
        "func": "var msg1 = {};\n\nmsg1.temperature_c = msg.payload.T;  // Temperature in Celsius\nmsg1.temperature_f = ((msg1.temperature_c * 1.8) + 32);  // Temperature in Fahrenheit\nmsg1.temperature_f = Math.trunc(msg1.temperature_f * 100) / 100;  // Truncate to 2 decimal places\n\nmsg1.humidity = msg.payload.H;     // Humidity\nmsg1.pressure = msg.payload.P;     // Pressure\nmsg1.co2 = msg.payload.CO2;        // CO2\nmsg1.iaq = msg.payload.IAQ;        // Indoor Air Quality\n\nmsg1.topic = 'e-CO2 (ppm)';\nmsg1.payload = msg1.co2;\n\nreturn msg1;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 260,
        "wires": [
            [
                "2dbab4c63447fcad",
                "32aea768d914b6c1"
            ]
        ]
    },
    {
        "id": "965e8f44e292de45",
        "type": "ui_chart",
        "z": "3d513226ae0b4dcf",
        "name": "Air Quality Index - Accuracy",
        "group": "e88eb0f2309327ad",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Air Quality Index - Accuracy",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "unknown",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "85b7fc16033fa64a",
        "type": "function",
        "z": "3d513226ae0b4dcf",
        "name": "function 11",
        "func": "var msg1 = {};\n\nmsg1.temperature_c = msg.payload.T;  // Temperature in Celsius\nmsg1.temperature_f = ((msg1.temperature_c * 1.8) + 32);  // Temperature in Fahrenheit\nmsg1.temperature_f = Math.trunc(msg1.temperature_f * 100) / 100;  // Truncate to 2 decimal places\n\nmsg1.humidity = msg.payload.H;     // Humidity\nmsg1.pressure = msg.payload.P;     // Pressure\nmsg1.co2 = msg.payload.CO2;        // CO2\nmsg1.iaq = msg.payload.IAQ;        // Indoor Air Quality\nmsg1.accuracy = msg.payload.ACC;\n\nmsg1.topic = 'Air Quality Accuracy';\nmsg1.payload = msg1.accuracy;\n\nreturn msg1;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 320,
        "wires": [
            [
                "965e8f44e292de45"
            ]
        ]
    },
    {
        "id": "dd9f2a51571da0a9",
        "type": "ui_gauge",
        "z": "3d513226ae0b4dcf",
        "name": "bVOC",
        "group": "86bcf2df7d6c444d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "bVOC",
        "label": "ppb",
        "format": "{{msg.bVOC}}",
        "min": "0",
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "300",
        "seg2": "1000",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 220,
        "wires": []
    },
    {
        "id": "e10d336f25781028",
        "type": "ui_chart",
        "z": "3d513226ae0b4dcf",
        "name": "Air Quality - bVOC",
        "group": "86bcf2df7d6c444d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Air Quality - bVOC",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "unknown",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 220,
        "wires": [
            []
        ]
    }
]